.btn-warning{
color: #fff;
background-color: #426dea;
border-color: #426dea;
}

.btn-info{
color:#fff;
background-color:#426dea;
border-color:#426dea;
}

.btn-success{

color:#fff;
background-color:#426dea;
border-color:#426dea;

}


